[submodule "transactions_service"]
	path = transactions_service
	url = git@hub.mos.ru:shift-python/y2024/homeworks/vzarubin/shift_transaction_service.git
[submodule "src/app/modules/transactions_service"]
	path = src/app/modules/transactions_service
	url = git@hub.mos.ru:shift-python/y2024/homeworks/vzarubin/shift_transaction_service.git
[submodule "src/app/external/transactions_service"]
	path = src/app/external/transactions_service
	url = git@hub.mos.ru:shift-python/y2024/homeworks/vzarubin/shift_transaction_service.git
[submodule "src/app/external/auth_service"]
	path = src/app/external/auth_service
	url = git@hub.mos.ru:shift-python/y2024/homeworks/vzarubin/sift_auth_service.git
[submodule "src/app/external/face_verification_service"]
	path = src/app/external/face_verification_service
	url = git@hub.mos.ru:shift-python/y2024/homeworks/vzarubin/shift_faceverificationservice.git
